{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в MySQooL!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать в нашу онлайн школу MySQooL!</h1>
        <p>Мы предлагаем лучшие курсы для профессионалов и новичков.</p>
    </header>

    <nav>
        <a href="{% url 'home' %}">Главная страница</a>
        <a href="{% url 'course_list' %}">Наши курсы</a>
    </nav>

    <section class="about-school">
        <h2>О школе</h2>
        <p>Наша онлайн школа предлагает курсы по различным направлениям: программирование, дизайн, маркетинг и многое другое. Воспользуйтесь нашими курсами, чтобы развить ваши навыки и улучшить карьерные возможности!</p>
    </section>

    <section class="courses">
        <h2>Наши курсы</h2>
        <ul>
            <li><a href="{% url 'course_list' %}">Посмотреть все курсы</a></li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2025 MySQooL. Все права защищены.</p>
    </footer>
</body>
</html>
