{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы онлайн школы MySQooL</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Наши курсы</h1>
        <p>Выберите курс, чтобы начать учёбу!</p>
    </header>

    <nav>
        <a href="{% url 'home' %}">Главная страница</a>
        <a href="{% url 'course_list' %}">Наши курсы</a>
    </nav>


    <section class="course-list">
{#        <p>Нет курсов доступных на данный момент.</p>#}
        {% if courses is None %}
            <p>Не удалось загрузить курсы. Возможно, проблема с базой данных.</p>
        {% elif courses %}
            <ul>
                {% for course in courses %}
                <li>
                    <a href="{% url 'course_detail' course.pk %}">
                        <img src="{% static 'course_image.jpg' %}" alt="{{ course.name }}">
                        {{ course.name }}
                    </a>
                    <p>{{ course.description }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет курсов доступных на данный момент.</p>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2025 MySQooL. Все права защищены.</p>
    </footer>
</body>
</html>
