{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.name }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>{{ course.name }}</h1>
    </header>

    <nav>
        <a href="{% url 'home' %}">Главная страница</a>
        <a href="{% url 'course_list' %}">Наши курсы</a>
    </nav>

    <section class="course-details">
        <div class="course-image">
            <img src="{% static 'course_detail_image.jpg' %}" alt="{{ course.name }}">
        </div>
        <p>{{ course.description }}</p>
        <p><strong>Продолжительность:</strong> {{ course.duration }} часов</p>
        <p><strong>Цена:</strong> {{ course.price }} рублей</p>
    </section>

<h2>Список уроков</h2>
    <table class="lessons-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Название урока</th>
                <th>Содержание</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr>
                <td>{{ forloop.counter }}</td> <!-- Выводим номер урока -->
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.content|linebreaksbr }}</td> <!-- Применяем фильтр для переноса строк -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Уроки ещё не добавлены.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <footer>
        <p>&copy; 2025 MySQooL. Все права защищены.</p>
    </footer>
</body>
</html>
